    /*******                                  
                          FORMAT TABLETTE          
                                                             **********/



/*******                  PHOTO                       **********/    
    
@media screen and (max-width:600px) and (min-width:450px){
    .photos h4 {
        margin-top:-12em;
    }
        }

/*******                  CONTACT                       **********/


@media screen and (max-width:1070px) and (min-width:651px){
    .contact h4 {
        margin-top:-9em;
    }
    }

@media screen and (max-width:700px) and (min-width:551px){
.contact h4 {
        font-size: 1.5em;
    }
    
     .contact h5 {
        font-size: 1.1em;
    }
    
    #logo-petit{
        height:60px;
    }
    }

@media screen and (max-width:650px) and (min-width:450px){
    .contact h4 {
        margin-top:3em;
        margin-bottom:-2em;
    }
    }

@media screen and (max-width:651px) and (min-width:500px){

    .contact{
        padding-top:1em;
        padding-bottom:5em;

    }
    }

@media screen and (max-width:726px) and (min-width:650px){
    
    .contact{
        padding-top:20em;
        padding-bottom:-0em;

    }
    }
    
@media screen and (max-width:800px) and (min-width:725px){
    
    .contact{
        padding-top:20em;
        margin-top: 2em;
        margin-bottom:-4em;
    }
        }
        

     
/*******                  FOOTER                       **********/

@media screen and (max-width:1070px) and (min-width:725px){
        .animated {
        margin-top:-2.5em;
        }
        
        .footer #remonter{
            margin-top:-1.5em;
        }
    }

@media screen and (max-width:1070px) and (min-width:551px){
    .footer {
    height: 70px;
    margin-top:-2em;
    }
    }




@media screen and (max-width:1070px) and (min-width:551px){
    .footer {
    height: 70px;
    margin-top:-2em;
    }
    }


    /*******                                  
                          FORMAT PORTABLE          
                                                             **********/




@media screen and (max-width:550px) and (min-width:320px){
    
    
    /*******                  CONTACT                       **********/    
    
    .contact {
        margin-top:-23em;
        height:330px;
    }
    
    .contact h4 {
        font-size: 1.5em;
    }
    
     .contact h5 {
        font-size: 1.1em;
    }
    
    .contact a,
.contact address {
        font-size: 0.9em;
    }
    
    .contact img {
    height: 20px;
    }
    }

@media screen and (max-width:550px) and (min-width:500px){
    .contact {
        height:650px;
    }
    
    .contact h4{
        margin-top:16.5em;
    }
    
    #logopetit{
        margin-top:1em;
    }
        }


@media screen and (max-width:499px) and (min-width:451px){
    .contact {
        padding-top:-12em;
    }
        }

/*******                  FOOTER                       **********/    
    @media screen and (max-width:550px) and (min-width:320px){
    .footer {
    height: 50px;
    margin-bottom:-2em;

    }
    
    .footer #remonter {
    display:none;
}
    
    .animated{
        display:none;
}
    
    img[src="images/fb.svg"] {
    display:none;
}
        }
