@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');
@import url('./position-body-styles.css');


/*******                  PAGE NATURE BOUTURE                 **********/

.hero-nature-bouture {
    background-image: url("../images/fondpastel.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

@media screen and (max-width:1070px) and (min-width:601px){
    .hero-nature-bouture {
    height: 450px;
}
}

@media screen and (max-width:600px) and (min-width:320px){
    .hero-nature-bouture {
    height: 400px;
}
}

.placement_titres{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
    margin-right:2em;
}


.hero-nature-bouture h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

@media screen and (max-width:1070px) and (min-width:601px){
    .hero-nature-bouture h1 {
        font-size: 2rem;
    }
    }

@media screen and (max-width:600px) and (min-width:320px){
    .hero-nature-bouture h1 {
    padding-top: -3em;
    font-size: 1.8em;
}
}

.hero-nature-bouture h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 100;
}

@media screen and (max-width:1070px) and (min-width:601px){
    .hero-nature-bouture h2 {
    font-size: 1.8rem;
    }     
}


@media screen and (max-width:600px) and (min-width:320px){
    .hero-nature-bouture h2 {
    font-size: 1.5em;
}
}

img["../images/retour2.png"] {
    z-index: 1;
    padding-bottom: 5px;
}

.hero-nature-bouture a {
    z-index: 1;
    margin: 20px;
    display: block;
    float: left;
    font-family: 'lato', sans-serif;
    font-size: 0.8em;
    height: 30px;
}

.hero-nature-bouture a:hover {
    text-decoration: underline;
}

.diagonale {
    background-color: #f5eeea;
    transform: rotate(-5deg);
    width: 130%;
    min-height:25em;
    margin-left: -15%;
    margin-top: -12em;
    display: flex;
    justify-content: center;
    position:relative;
    z-index:0;

}

@media screen and (max-width:1200px) and (min-width:320px){
    .diagonale {
    margin-top: -12em;
    height:15em;
    }
}

@media screen and (max-width:1000px) and (min-width:551px){
    .diagonale {
    margin-top: -12em;
    max-height:8em;
    }
}

.centre {
    margin-left: 23%;
    width:60%;
    display: flex;
    flex-direction: column;
    margin-top:-25em;
    position:relative;
    z-index:1;
}

@media screen and (max-width:550px) and (min-width:320px){
    .centre {
        width:100%;
        margin-left: 10%;
}
}

img[src="images/nature-bouture/nature-bouture-top.png"] {
    margin-top:4em;
    width:100%;
    height:auto;
}

@media screen and (max-width:550px) and (min-width:320px){
    img[src="images/nature-bouture/nature-bouture-top.png"] {
        width:80%;
}
}

section p {
    font-family: 'Lato', sans-serif;
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: 1.2em;
    font-weight: 400;
    color: black;
}

@media screen and (max-width:1200px) and (min-width:320px){
    section p{
    font-size: 1em;
    }
}

@media screen and (max-width:550px) and (min-width:320px){
    section p {
        margin:0 2.5em;
        text-align:center;
        width:80%;
        margin-left:-0.5em;
}
}

img[src="images/nature-bouture/nature-bouture-mock-up.png"]{
    padding:2em;
    width:100%;

}

@media screen and (max-width:1000px) and (min-width:551px){
    img[src="images/nature-bouture/nature-bouture-mock-up.png"] {
    width:80%;
    margin-left:15%;
}
}

@media screen and (max-width:550px) and (min-width:320px){
    img[src="images/nature-bouture/nature-bouture-mock-up.png"] {
    width:90%;
    margin-left:-5%;
}
}

section p a {
    font-style: italic;
    font-weight: 400;
}

p{
    font-family: 'Lato', sans-serif;
    padding-top:5em;
    padding-bottom:2em;
    font-size: 1.2em;
    font-weight: 400;
    color: black;
    text-align:center;
}


@media screen and (max-width:1200px) and (min-width:320px){
    p{
    font-size: 1em;
    padding-top:2em;
    }
}

@media screen and (max-width:550px) and (min-width:320px){
    p {
        text-align:center;
        width:80%;
        margin-left:-0.5em;
}
}


img[src="images/nature-bouture/nature-bouture-accueil.png"]{
    padding:2em;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.13));
}

@media screen and (max-width:1000px) and (min-width:551px){
    img[src="images/nature-bouture/nature-bouture-accueil.png"] {
    width:50%;
}
}

@media screen and (max-width:550px) and (min-width:320px){
    img[src="images/nature-bouture/nature-bouture-accueil.png"] {
            width:80%;

}
}

/*   ROW = IMAGES COTE À COTE EN COLONNES
.row{
    padding-bottom:3em;
}


@media screen and (max-width:1000px) and (min-width:320px){
    .row {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        }
}

img[src="images/nature-bouture/les-actus.jpg"]{
    padding-bottom: 1em;
}

@media screen and (min-width:1001px){
    img[src="images/nature-bouture/les-actus.jpg"] {
        width:37%;
        height:auto;
}
}

@media screen and (min-width:1001px){
     img[src="images/nature-bouture/winefunding.jpg"] {
        width:50%;
        height:100%;
}
}

@media screen and (max-width:1000px) and (min-width:551px){
    img[src="images/nature-bouture/les-actus.jpg"], img[src="images/nature-bouture/winefunding.jpg"] {
        width:80%;
        height:auto;
        margin-left:3em;
}
}

@media screen and (max-width:550px) and (min-width:320px){
    img[src="images/nature-bouture/les-actus.jpg"], img[src="images/nature-bouture/winefunding.jpg"] {
        width:80%;
        height:auto;
}
}
*/

/*******                  FOOTER                       **********/

.footer {
    background-color: #434343;
     height: 100px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*change le sens des parametres align-items et justify-content*/
}



img[src="images/fb.svg"] {
    z-index: 1;
    width: 50%;
    height: 100%;
}

.footer .instagram {
        width: 40px;
        height: 100%;
}

.footer .linkedin {
      width: 35px;
        height: 100%;

}
