@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');


body {
    overflow-x: hidden;
}


/*******                   HEADER/HERO                  **********/

.hero {
    background-image: url(../images/hero.jpg);
    /*background-attachment:fixed;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 1100px;
}



#logo {
    padding: 2rem 2rem 0.4rem 2rem;
    margin-left: 1rem;
    height: 100px;
}

@media screen and (max-width:1600px){
    #logo {
    height: 90px;
    }
}

@media screen and (max-width:1260px){
    #logo {
    height: 80px;
    }
}

.hero h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    padding-left: 3.4rem;
}
@media screen and (max-width:1600px){
    .hero h1 {
    font-size: 1rem;
    }
}

@media screen and (max-width:1260px){
    .hero h1 {
    font-size: 0.8rem;
    }
}


nav {
    float: right;
    margin: -3em 0;
    margin-right: 5em;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    z-index: 3;
    position: relative;
}

@media screen and (max-width:800px) {
    nav {
    display:none;
    }
}

nav a {
    padding: 4em;
    font-weight: 400;
}

nav a:hover {
    font-weight: bold;
}

.hero h2 {
    font-family: 'Lato', sans-serif;
    padding-top: 15%;
    font-size: 4.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:1260px){
    .hero h2{
    font-size: 4em;
    }
}

.hero h3 {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: 100;
}

@media screen and (max-width:1260px){
    .hero h3{
    font-size: 2.5em;
    }
}


img[src="images/fond-plus2.png"] {
    width: 150%;
    margin-top: -600px;
    height: 150%;
    position: absolute;
    right: 10px;
    top: 10px;
}

@media screen and (max-width:1600px){
    img[src="images/fond-plus2.png"]{
    width: 200%;
    height: 200%;
    }
}

@media screen and (max-width:1400px){
    img[src="images/fond-plus2.png"]{
    width: 220%;
    height: 220%;
    }
}

@media screen and (max-width:1200px){
    img[src="images/fond-plus2.png"]{
    width: 240%;
    height: 240%;
    }
}


/*******                   A PROPOS                    **********/


/* centrage des titres dans tous les projets */

.titres {
    margin-left: 11.3%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.a-propos {
    background-color: white;
    transform: rotate(-5deg);
    width: 130%;
    margin-left: -15%;
    margin-top: -10%;
    height: 900px;
}

.a-propos h4 {
    transform: rotate(5deg);
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 4.5em;
}


@media screen and (max-width:1600px){
    .a-propos h4 {
        font-size: 2.5em;
}
}

@media screen and (max-width:1400px){
    .a-propos h4{
    }
}

@media screen and (max-width:1260px){
    .a-propos h4{
    }
}


.a-propos p {
    transform: rotate(5deg);
    width: 32%;
    padding-top: 2em;
    font-family: 'Lato', sans-serif;
    weight: 100;
    text-align: center;
    font-size:1em;
}

@media screen and (max-width:1600px){
    .a-propos p {
        font-size: 1em;
}
}

@media screen and (max-width:1400px){
    .a-propos p{
        font-size: 1em;
    }
}

@media screen and (max-width:1260px){
    .a-propos p{
        font-size: 1em;
        width:50%;
    }
}



/*******                     PROJETS                       **********/


/*******                  LES PARCELLES                       **********/

.les-parcelles {
    background-image: url(../images/les-parcelles2-black2.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    transform: rotate(5deg);
    width: 130%;
    margin-left: -15%;
    margin-top: -18em;
    height: 1000px;
    display: flex;
    transition: all ease-in-out 0.5s;
}

.les-parcelles:hover {
    background-image: url(../images/les-parcelles2-black2-flou.jpg);

}

@media screen and (max-width:1600px){
    .les-parcelles{
        margin-top:-22em;
        margin-left:-17%;
    }
}

@media screen and (max-width:1400px){
    .les-parcelles{
        margin-top:-25em;
        transform:rotate(4deg);
        width:140%;
        margin-left:-19%;
    }
}

@media screen and (max-width:1260px){
    .les-parcelles{
        margin-top:-25em;
    }
}
@media screen and (max-width:1000px){
    .les-parcelles{
        transform:rotate(3deg);
        width:150%;
    }
}

.les-parcelles h4 {
    font-family: 'Lato', sans-serif;
    font-size: 2.7em;
    font-weight: bold;
    transform: rotate(-5deg);
    margin-top: -6em;
}
@media screen and (max-width:1600px){
    .les-parcelles h4 {
        margin-top:-9em;
        font-size: 2.5em;
    }
}

@media screen and (max-width:1400px){
    .les-parcelles h4{
        transform:rotate(-4deg);
    }
}

@media screen and (max-width:1260px){
    .les-parcelles h4{
        margin-top:-12em;
    }
}
@media screen and (max-width:1000px){
    .les-parcelles h4{
        margin-top:-16em;
        transform:rotate(-3deg);
        font-size: 2em;
    }
}

.les-parcelles h4 .encadre {
    background-color: #f2ceca;
    padding: 0 10px;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(90deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    45% {
        -webkit-transform: rotate(180deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    70% {
        -webkit-transform: rotate(270deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

h4 .plus:hover {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 4.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transition-timing-function: linear;
    transform-origin: 50% 50%;
    transition-duration: 1s;
    margin: 10px;
}

.les-parcelles h5 {
    font-family: 'Lato', sans-serif;
    font-size: 2.3em;
    font-weight: 100;
    color: #fff;
    transform: rotate(-5deg);
}
@media screen and (max-width:1600px){
    .les-parcelles h5 {
    }
}

@media screen and (max-width:1400px){
    .les-parcelles h5{
        transform:rotate(-4deg);
        font-size: 2em;
    }
}

@media screen and (max-width:1260px){
    .les-parcelles h5{
    }
}
@media screen and (max-width:1000px){
    .les-parcelles h5{
        transform:rotate(-3deg);
        font-size: 1.6em;
    }
}

.les-parcelles h5 span {
    background-color: black;
    padding: 0 10px;
}


/*******                  GRAND PEYROU                       **********/

.chateau-grand-peyrou {
    background-image: url(../images/chateau-grand-peyrou.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(-5deg);
    width: 130%;
    margin-left: -15%;
    margin-top: -18em;
    height: 1000px;
    display: flex;
    transition: all ease-in-out 0.5s;
}

.chateau-grand-peyrou:hover {
    background-image: url(../images/chateau-grand-peyrou-flou.jpg);
}

@media screen and (max-width:1600px){
    .chateau-grand-peyrou{
        margin-top:-24em;
        width:125%;
        transform:rotate(-5deg);
    }
}

@media screen and (max-width:1400px){
    .chateau-grand-peyrou{
        margin-top:-28em;
        transform:rotate(-4deg);
    }
}

@media screen and (max-width:1260px){
    .chateau-grand-peyrou{
        width:120%;
        margin-left:-13%;
        margin-top:-33em;
    }
}

@media screen and (max-width:1070px){
    .chateau-grand-peyrou{
        width:115%;
        margin-top:-35em;
        margin-left:-10%;
        transform:rotate(-3deg);
    }
}

.chateau-grand-peyrou h4 {
    transform: rotate(5deg);
    font-family: 'Lato', sans-serif;
    font-size: 2.7em;
    font-weight: bold;
    margin-top: -5em;
}

@media screen and (max-width:1600px){
    .chateau-grand-peyrou h4 {
        font-size: 2.5em;
    }
}

@media screen and (max-width:1400px){
    .chateau-grand-peyrou h4{
        transform:rotate(4deg);
    }
}

@media screen and (max-width:1260px){
    .chateau-grand-peyrou h4{
        margin-top:-9em;
    }
}
@media screen and (max-width:1070px){
    .chateau-grand-peyrou h4{
        margin-top:-12em;
        transform:rotate(3deg);
        font-size: 2em;
    }
}

.chateau-grand-peyrou h4 .encadre {
    background-color: #f2ceca;
    padding: 0 10px;
}

.chateau-grand-peyrou h5 {
    font-family: 'Lato', sans-serif;
    font-size: 2.3em;
    font-weight: 100;
    color: #fff;
    transform: rotate(5deg);
}

@media screen and (max-width:1600px){
    .chateau-grand-peyrou h5 {
    }
}

@media screen and (max-width:1400px){
    .chateau-grand-peyrou h5{
        font-size: 2em;
        transform:rotate(4deg);

    }
}

@media screen and (max-width:1260px){
    .chateau-grand-peyrou h5{
    }
}
@media screen and (max-width:1070px){
    .chateau-grand-peyrou h5{
        font-size: 1.6em;
        transform:rotate(3deg);

    }
}

.chateau-grand-peyrou h5 span {
    background-color: black;
    padding: 0 10px;
}


/*******                  LEJAY                       **********/

.chateau-lejay {
    background-image: url(../images/chateau-lejay.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(-5deg);
    width: 130%;
    margin-left: -15%;
    margin-top: -18em;
    height: 1000px;
    display: flex;
    transition: all ease-in-out 0.5s;
}

.chateau-lejay:hover {
    background-image: url(../images/chateau-lejay-flou.jpg);
}

.chateau-lejay h4 {
    transform: rotate(5deg);
    font-family: 'Lato', sans-serif;
    font-size: 2.7em;
    font-weight: bold;
    margin-top: -6em;
}

@media screen and (max-width:1600px){
    .chateau-lejay h4 {
    margin-top:-7.5em;
    }
}

@media screen and (max-width:1400px){
    .chateau-lejay h4{
        font-size: 2.5em;
        margin-top:-9em;
    }
}

@media screen and (max-width:1260px){
    .chateau-lejay h4{
        margin-top:-13em;
    }
}
@media screen and (max-width:1070px){
    .chateau-lejay h4{
        margin-top:-17em;
        font-size: 2em;
    }
}

.chateau-lejay h4 .encadre {
    background-color: #f2ceca;
    padding: 0 10px;
}

.chateau-lejay h5 {
    font-family: 'Lato', sans-serif;
    font-size: 2.3em;
    font-weight: 100;
    color: #fff;
    transform: rotate(5deg);
}

@media screen and (max-width:1600px){
    .chateau-lejay h5 {
    }
}

@media screen and (max-width:1400px){
    .chateau-lejay h5{
        font-size: 2em;
    }
}

@media screen and (max-width:1260px){
    .chateau-lejay h5{
    }
}
@media screen and (max-width:1070px){
    .chateau-lejay h5{
        font-size: 1.6em;
    }
}

.chateau-lejay h5 span {
    background-color: black;
    padding: 0 10px;
}


/*******                  ENCRE DES COTEAUX                        **********/

.encre-des-coteaux {
    background-image: url(../images/encre-des-coteaux.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(5deg);
    width: 130%;
    margin-left: -15%;
    margin-top: -18em;
    height: 1000px;
    display: flex;
    transition: all ease-in-out 0.5s;
}

@media screen and (max-width:1600px){
    .encre-des-coteaux{
        margin-top:-24em;
        width:125%;
        transform:rotate(5deg);
    }
}

@media screen and (max-width:1400px){
    .encre-des-coteaux{
        margin-top:-28em;
        transform:rotate(4deg);
    }
}

@media screen and (max-width:1260px){
    .encre-des-coteaux{
        width:120%;
        margin-left:-13%;
        margin-top:-33em;
    }
}

@media screen and (max-width:1070px){
    .encre-des-coteaux{
        width:115%;
        margin-top:-35em;
        margin-left:-10%;
        transform:rotate(3deg);
    }
}

.encre-des-coteaux:hover {
    background-image: url(../images/encre-des-coteaux-flou.jpg);
}

.encre-des-coteaux h4 {
    transform: rotate(-5deg);
    font-family: 'Lato', sans-serif;
    font-size: 2.7em;
    font-weight: bold;
    margin-top: -5em;
}

@media screen and (max-width:1600px){
    .encre-des-coteaux h4 {
        margin-top:-8em;
    }
}

@media screen and (max-width:1400px){
    .encre-des-coteaux h4{
        transform:rotate(-4deg);
        font-size: 2.5em;
        margin-top:-10em;
    }
}

@media screen and (max-width:1260px){
    .encre-des-coteaux h4{
        margin-top:-12em;
    }
}
@media screen and (max-width:1070px){
    .encre-des-coteaux h4{
        transform:rotate(-3deg);
        font-size: 2em;
        margin-top:-15em;
    }
}

.encre-des-coteaux h4 .encadre {
    background-color: #f2ceca;
    padding: 0 10px;
}

.encre-des-coteaux h5 {
    font-family: 'Lato', sans-serif;
    font-size: 2.3em;
    font-weight: 100;
    color: #fff;
    transform: rotate(-5deg);
}

@media screen and (max-width:1600px){
    .encre-des-coteaux h5 {
    }
}

@media screen and (max-width:1400px){
    .encre-des-coteaux h5{
        font-size: 2em;
        transform:rotate(-4deg);
    }
}

@media screen and (max-width:1260px){
    .encre-des-coteaux h5{
    }
}
@media screen and (max-width:1070px){
    .encre-des-coteaux h5{
        font-size: 1.6em;
        transform:rotate(-3deg);
    }
}

.encre-des-coteaux h5 span {
    background-color: black;
    padding: 0 10px;
}


/*******                  PHOTOS                       **********/

.photos {
    background-image: url(../images/photographie-lotus.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(5deg);
    width: 130%;
    margin-left: -15%;
    margin-top: -18em;
    height: 800px;
    display: flex;
    transition: all ease-in-out 0.5s;
}

@media screen and (max-width:1600px){
    .photos{
        margin-top:-24em;
        width:145%;
        transform:rotate(5deg);
        height:700px;
    }
}

@media screen and (max-width:1400px){
    .photos{
        margin-top:-28em;
        transform:rotate(4deg);
    }
}

@media screen and (max-width:1260px){
    .photos{
        width:120%;
        margin-left:-13%;
        margin-top:-33em;
    }
}

@media screen and (max-width:1070px){
    .photos{
        width:115%;
        margin-top:-35em;
        margin-left:-10%;
        transform:rotate(3deg);
    }
}

.photos:hover {
    background-image: url(../images/photographie-lotus-flou.jpg);
}

.photos h4 {
    transform: rotate(-5deg);
    font-family: 'Lato', sans-serif;
    font-size: 2.7em;
    font-weight: bold;
}
@media screen and (max-width:1600px){
    .photos h4 {
    }
}

@media screen and (max-width:1400px){
    .photos h4{
        transform:rotate(-4deg);
        font-size: 2.5em;
    }
}

@media screen and (max-width:1260px){
    .photos h4{
        margin-top:-0em;
    }
}
@media screen and (max-width:1070px){
    .photos h4{
        margin-top:-9em;
        transform:rotate(-3deg);
        font-size: 2em;
    }
}

.photos h4 .encadre {
    background-color: #f2ceca;
    padding: 0 10px;
}

.photos h5 {
    font-family: 'Lato', sans-serif;
    font-size: 2.3em;
    font-weight: 100;
    color: #fff;
    transform: rotate(-5deg);
}
@media screen and (max-width:1600px){
    .photos h5 {
    }
}

@media screen and (max-width:1400px){
    .photos h5{
        font-size: 2em;
        transform:rotate(-4deg);
    }
}

@media screen and (max-width:1260px){
    .photos h5{
    }
}
@media screen and (max-width:1070px){
    .photos h5{
        font-size: 1.6em;
        transform:rotate(-3deg);
    }
}

.photos h5 span {
    background-color: black;
    padding: 0 10px;
}


/*******                  CONTACT                       **********/

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
}
    
.contact h4 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
}

.contact h5 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
}


.contact a,
.contact address {
    font-family: 'Lato', sans-serif;
    text-align: center;
    ;
}

.contact img {
    height: 30px;
    margin: 1em 0 0 0;
    display:block;
}


/*******                  FOOTER                       **********/

.footer {
    background-color: #434343;
     height: 100px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*change le sens des parametres align-items et justify-content*/
}

.position{
    width:10px;
    height:auto;
    position:relative;
    display:flex;
    align-items: center;

}

.footer #remonter {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 100;
    text-align:center;
}

.footer #remonter:hover {
    text-decoration: underline;
}

img[src="images/haut.png"]{
    position:absolute;
    left:calc( ( 100% - 5px ) / 2 )
/*    margin-left:2em;*/
/*    margin-bottom:1em*/
    animation: myanim 2s linear infinite;
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-direction: alternate;
}

/* Code for old Chrome, Safari and Opera */
@-webkit-keyframes myanim {
    from {top: 0px;}
    to {top: 10px;}
}

/* Standard syntax */
@keyframes myanim {
    from {top: 0px;}
    to {top: 10px;}
}

img[src="images/fb.svg"] {
    z-index: 1;
    width: 22%;
    height: 100%;
}

.footer #facebook {
    margin-right: -3em;
    margin-top: -1.5em;
    align-self: flex-end;
}
