@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');
body {
    overflow-x: hidden;
}


/*******                  PAGE LEJAY                 **********/

.hero-lejay {
    background-image: url("../images/fondpastel.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}
@media screen and (max-width:600px) and (min-width:320px){
    .hero-lejay {
    height: 300px;
}
}

.placement_titres{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
    margin-right:3em;
}

.hero-lejay h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align:center;
}

@media screen and (max-width:600px) and (min-width:320px){
    .hero-lejay h1 {
    padding-top: 2em;
    font-size: 1.5em;
   
}
}
.hero-lejay h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 100;
    display: flex;
    justify-content: center;
    text-align:center;

}

@media screen and (max-width:600px) and (min-width:320px){
    .hero-lejay h2 {
    font-size: 1.5em;
}
}
img["../images/retour2.png"] {
    z-index: 1;
    padding-bottom: 5px;
}

.hero-lejay a {
    z-index: 1;
    margin: 20px;
    display: block;
    float: left;
    font-family: 'lato', sans-serif;
    font-size: 0.8em;
    height: 30px;
}

.hero-lejay a:hover {
    text-decoration: underline;
}

.diagonale {
    background-color: #f5eeea;
    transform: rotate(-5deg);
    width: 130%;
    min-height:25em;
    margin-left: -15%;
    margin-top: -12em;
    display: flex;
    justify-content: center;
}


@media screen and (max-width:1000px) and (min-width:320px){
    .diagonale {
    }
}

.centre {
    margin-left: 25%;
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:-25em;
    position:relative;
    z-index:1;
}

img[src="images/lejay/accueil-lejay.jpg"] {
    margin-top:4em;
    width:100%;
    height:auto;
}

section p {
    font-family: 'Lato', sans-serif;
    padding-bottom: 1em;
    padding-top:3em;
    font-size: 1.2em;
    font-weight: 400;
    color: black;
}

@media screen and (max-width:1200px) and (min-width:320px){
    section p{
    font-size: 1em;
    }
}


img[src="images/lejay/Pres-lejay.png"] {
    width: 150%;
    height: auto;
    margin-top:-3em;
    margin-bottom:2em;
}




/*******                  FOOTER                       **********/

.footer {
    background-color: #434343;
     height: 100px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*change le sens des parametres align-items et justify-content*/
}

.position{
    width:10px;
    height:auto;
    position:relative;
    display:flex;
    align-items: center;
    margin-top:1em;

}

.footer #remonter {
    opacity:0;
    padding:1em;
    margin-top:0.5em;
    position:absolute;
    left:calc( ( 100% - 85px ) / 2 );
}

.footer #remonter:hover {
    opacity:1;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    font-weight: 100;
    padding:1em;
}


.arrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 16px 9px;
    border-color: transparent transparent white transparent;
}

.animated{
    margin-top:-1.5em;
    position:absolute;
    left:calc( ( 100% - 18px ) / 2 );
    animation: myanim 2s linear infinite;
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-direction: alternate;
    -webkit-animation-play-state: running
}

.animated:hover{
    animation: stop;
}

.animated.off {
		-moz-animation-name: none;
	-webkit-animation-name: none;
	-ms-animation-name: none;
		animation-name: none;	
	}

/* Code for old Chrome, Safari and Opera */
@-webkit-keyframes myanim {
    from {top: 0px;}
    to {top: 10px;}
}

/* Standard syntax */
@keyframes myanim {
    from {top: 0px;}
    to {top: 10px;}
}



img[src="images/fb.svg"] {
    z-index: 1;
    width: 22%;
    height: 100%;
}

.footer #facebook {
    margin-right: -3em;
    margin-top: -1.5em;
    align-self: flex-end;
}
