@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');
body {
    overflow-x: hidden;
}


/*******                  PAGE PHOTOS                 **********/

.hero-photo {
    background-image: url("../images/fondpastel.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

@media screen and (max-width:1070px) and (min-width:601px){
    .hero-photo {
    height: 450px;
}
}

@media screen and (max-width:600px) and (min-width:320px){
    .hero-photo {
    height: 320px;
}
}

.placement_titres{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
    margin-right:2em;
}

.hero-photo h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

@media screen and (max-width:1070px) and (min-width:601px){
    .hero-photo h1 {
        font-size: 2rem;
    }
    }

@media screen and (max-width:600px) and (min-width:320px){
    .hero-photo h1 {
    padding-top: -3em;
    font-size: 1.8em;
}
}

.hero-photo h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 100;
    margin-top:0.3em;
}

@media screen and (max-width:1070px) and (min-width:601px){
    .hero-gphoto h2 {
    font-size: 1.8rem;
    }     
}


@media screen and (max-width:600px) and (min-width:320px){
    .hero-photo h2 {
    font-size: 1.5em;
}
}

.hero-photo a {
    z-index: 1;
    margin: 20px;
    display: block;
    float: left;
    font-family: 'lato', sans-serif;
    font-size: 0.8em;
    height: 30px;
    padding-bottom: 5px;

}


.hero-photo a:hover {
    text-decoration: underline;
}

.diagonale {
    background-color: #f5eeea;
    transform: rotate(-5deg);
    width: 130%;
    min-height:23em;
    margin-left: -15%;
    margin-top: -12em;
    display: flex;
    justify-content: center;
}



@media screen and (max-width:600px) and (min-width:320px){
    .diagonale {
        margin-top:-3em;
}
}

.centre {
    margin-left: 25.5%;
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:-16em;
    position:relative;
    z-index:1;
}

@media screen and (max-width:600px) and (min-width:320px){
    .centre {
    margin-left: 20%;

}
}

img[src="images/photographie-lotus.jpg"] {
    margin-top: -1em;
    width:100%;
    height:auto;
}

@media screen and (min-width:1300px){
    img[src="images/photographie-lotus.jpg"] {
        margin-bottom:1.5em;
    }     
}

 @media screen and (max-width:1200px) and (min-width:601px){
    img[src="images/photographie-lotus.jpg"] {
        margin-top:-3em;
    }     
}

@media screen and (max-width:600px) and (min-width:320px){
    img[src="images/photographie-lotus.jpg"] {
        margin-top:-5em;
            margin-left:-6%; 

}
}
@media screen and (max-width:600px) and (min-width:320px){
    .photo-duo, img[src="images/photographie-lotus.jpg"] {
        width:130%;
}
}

section p span {
    font-style: italic;
    font-weight: 400;
}

.photo-duo {
    display:flex;
    flex-direction:row;
    margin-top: 1em;
    justify-content: space-between;
    margin-bottom:6em;
}

@media screen and (max-width:600px) and (min-width:320px){
    .photo-duo {
    flex-direction: column;
     margin-right:-18%; 

}
}

img[src="images/bourgeon.jpg"],
img[src="images/fleur1.jpg"] {
    width:48%;
    height:100%;
}

@media screen and (max-width:600px) and (min-width:320px){
    img[src="images/bourgeon.jpg"],
img[src="images/fleur1.jpg"]  {
        width:100%;
}
}

@media screen and (max-width:600px) and (min-width:320px){
    img[src="images/fleur1.jpg"]  {
        margin-top:1em;
        
}
}

/*******                  FOOTER                       **********/

.footer {
    background-color: #434343;
     height: 100px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*change le sens des parametres align-items et justify-content*/
}



img[src="images/fb.svg"] {
    z-index: 1;
    width: 50%;
    height: 100%;
}

.footer .instagram {
        width: 40px;
        height: 100%;
}

.footer .linkedin {
      width: 35px;
        height: 100%;

}