
@import url('./position-body-styles.css');

@media screen and (max-width:1070px) and (min-width:801px){
    
    .hero {
    height:800px;
    }
    
    #logo {
    height: 75px;
    }
    
    .hero h1 {
        font-size: 0.7rem;
    }
    
    .hero h2 {
    font-size: 2.3rem;
    margin-top:1em;
    }
    
    .hero h3 {
    font-size: 1.8rem;
    }
    
    img[src="images/fond-plus2.png"] {
    display:none;
    }
    
    nav{}
    
/*******                   A PROPOS                    **********/    
    
    .a-propos{
        height:1000px;
    }
    
    .a-propos h4 {
        font-size: 2em;
        margin-top:-1em;
    }
    
    .a-propos p {
        font-size:0.9em;
        width:70%;
        padding-bottom:5em;
    }
    
    
/*******                  NATURE BOUTURE                      **********/    
    
    .nature-bouture {
        margin-top:-32em;
        margin-left:-60%;
        width:180%;
        height:800px;
        margin-bottom:20em;

    }
    
    .nature-bouture h4{
        margin-left:70%;
        font-size: 2em;
        margin-top:-6em;
    }
    
     .nature-bouture h5{
        margin-left:70%;
    }
    
/*******                  TERRE GOURMANDE                       **********/    
    
    .terre-gourmande {
        width:125%;
        height:800px;
        margin-bottom:20em;
    }
    
    .terre-gourmande h4 {
        margin-top:-7em
    }
    
/*******                  GREEN LIFE                      **********/    
    
    .green-life {
        margin-top:-36em;
        margin-left:-60%;
        width:180%;
        height:900px;
        margin-bottom:20em;
    }
    
    .green-life h4{
        margin-left:75%;
        margin-top:-10em
    }
    
    .green-life h5{
        margin-left:75%;
    }
    
/*******                  ENCRE DES COTEAUX                        **********/    
    
     .encre-des-coteaux {
        width:135%;
        height:900px;
        margin-bottom:20em;
    }
    
    .encre-des-coteaux h4 {
        margin-top:-10em;
        margin-left:-15%;

    }
    
    .encre-des-coteaux h5 {
        margin-left:-15%;
    }
    
    /*******                  PHOTOS                       **********/
    
     .photos {
        margin-top:-40em;
        margin-left:-25%;
        width:145%;
        height:600px;
        margin-bottom:20em;
    }
    
    .photos h4 {
        margin-top:0em;
        margin-left:15%;

    }
    
    .photos h5 {
        margin-left:15%;
    }
    }





/*******-------------------------------------------
-------------------------DEUXIEME TAILLE------------------------------
-----------------------------------------**********/




@media screen and (max-width:800px) and (min-width:551px){

    
    .hero {
    height:700px;
        width:100%;
    }
    
    #logo {
    height: 75px;
    }
    
    .hero h1 {
    margin-left:-0.5em;
    }
    
    .hero h2 {
    font-size: 2.3rem;
    margin-top:1em;
    }
    
    .hero h3 {
    font-size: 1.8rem;
    }
   
    img[src="images/fond-plus2.png"] {
    display:none;
    }
    
    nav{}
    
/*******                   A PROPOS                    **********/    
    
    .a-propos {
        height:900px;
    }
    
    .a-propos h4 {
        font-size: 2em;
        margin-left:2em;
        margin-top:-1em;
    }
    
    .a-propos p {
        font-size:0.9em;
        width:80%;
        margin-left:2.5em;
    }
    
/*******                  NATURE BOUTURE                      **********/    
    
    .nature-bouture {
        margin-top:-32em;
        margin-left:-60%;
        width:230%;
        height:950px;
        padding-bottom:10em;
    }
    
    
    .nature-bouture h4{
        margin-left:60%;
        font-size: 2em;
        margin-top:-17.5em;
    }
    
     .nature-bouture h5{
        margin-left:60%;
    }
    
/*******                  TERRE GOURMANDE                       **********/    
    
    .terre-gourmande {
        width:125%;
        height: 1100px;
    }
    
    .terre-gourmande h4 {
        margin-top:-20em;
        margin-left:-5%;
    }
    
/*******                  GREEN LIFE                      **********/    
    
    .green-life {
        margin-top:-41em;
        margin-left:-60%;
        width:200%;
    }
    
    .green-life h4{
        margin-top:-18em;
        margin-left:75%;
        display:inline-block;
    }
    
    .green-life h5{
        margin-left:75%;
    }
    
/*******                  ENCRE DES COTEAUX                        **********/    
    
     .encre-des-coteaux {
        width:205%;
        height: 900px;
        margin-left:-30%;
        margin-bottom:12em;
        margin-top:-38em;

         
    }
    .encre-des-coteaux h4{
        margin-top:-14em;
    }
    .encre-des-coteaux h5{
    }
    
    /*******                  PHOTOS                       **********/
    
     .photos {
        margin-top:-40em;
        margin-left:-25%;
        width:130%;
         margin-bottom:-15em;
         height: 500px;

    }
    
    .photos h4{
        margin-left:15%;
        margin-top:-0em;
    }
    .photos h5{
        margin-left:15%;
    }
}



    
    
    
    
    
    
    
    
    
    
    
    

    
    
    
    
    
    
    
    
    
    
    
