@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');
body {
    overflow-x: hidden;
}


/*******                  PAGE ENCRE DES COTEAUX                 **********/

.hero-peyrou {
    background-image: url("../images/fondpastel.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.hero-peyrou h1 {
    font-family: 'Lato', sans-serif;
    padding-top: 4em;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.hero-peyrou h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 100;
    display: flex;
    justify-content: center;
}

img["../images/retour2.png"] {
    z-index: 1;
    padding-bottom: 5px;
}

.hero-peyrou a {
    z-index: 1;
    margin: 20px;
    display: block;
    float: left;
    font-family: 'lato', sans-serif;
    font-size: 0.8em;
    height: 30px;
}

.hero-peyrou a:hover {
    text-decoration: underline;
}


.diagonale {
    background-color: #f5eeea;
    transform: rotate(-5deg);
    width: 130%;
    margin-left: -15%;
    margin-top: -12%;
    display: flex;
    justify-content: center;
}

.centre {
    margin-left: 8%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

img[src="images/accueil-peyrou.jpg"] {
    transform: rotate(5deg);
    margin: -194px -10%;
    margin-top: 4em;
    width: 43%;
    height: 100%;
}

section p {
    font-family: 'Lato', sans-serif;
    padding-top: 11em;
    padding-bottom: 4em;
    margin-left: 27.5%;
    font-size: 1.2em;
    font-weight: 400;
    color: black;
    /*margin:auto;*/
}
section p span {
    font-style: italic;
    font-weight: 400;
}


/*******                  FOOTER                       **********/

.footer {
    background-color: #434343;
    height: 100px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*change le sens des parametres align-items et justify-content*/
}

img[src="images/fb.svg"] {
    z-index: 1;
    width: 22%;
    height: 100%;
}

.footer #facebook {
    margin-right: -3em;
    margin-top: -1.5em;
    align-self: flex-end;
}

.footer #remonter {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 100;
}

.footer #remonter:hover {
    text-decoration: underline;
}