@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');
body {
    overflow-x: hidden;
}


/*******                  PAGE LES PARCELLES                 **********/

.hero-encre-des-coteaux {
    background-image: url("../images/fondpastel.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.hero-encre-des-coteaux h1 {
    font-family: 'Lato', sans-serif;
    padding-top: 4em;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.hero-encre-des-coteaux h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 100;
    display: flex;
    justify-content: center;
}

img["../images/retour2.png"] {
    z-index: 1;
    padding-bottom: 5px;
}

.hero-encre-des-coteaux a {
    z-index: 1;
    margin: 20px;
    display: block;
    float: left;
    font-family: 'lato', sans-serif;
    font-size: 0.8em;
    height: 30px;
}

.hero-encre-des-coteaux a:hover {
    text-decoration: underline;
}

.diagonale {
    /*background-color: #434343;*/
    background-color: #f5eeea;
    transform: rotate(-5deg);
    width: 130%;
    margin-left: -15%;
    margin-top: -12%;
    display: flex;
    justify-content: center;
}

img[src="../images/parcelles/les-parcelles.jpg"] {
    transform: rotate(5deg);
    margin: -194px -10%;
    margin-top: 4em;
    width: 43%;
    height: 100%;
}

section p {
    font-family: 'Lato', sans-serif;
    padding-top: 11em;
    padding-bottom: 2em;
    margin-left: 23.5%;
    font-size: 1.2em;
    font-weight: 100;
    color: black;
    /*margin:auto;*/
}

section p a {
    font-style: italic;
    font-weight: 400;
}

p{
    font-family: 'Lato', sans-serif;
    padding: 2em 0;
    margin-left: 23.5%;
    font-size: 1.2em;
    font-weight: 100;
    color: black;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20%;
    margin: auto;

}

.centre img{
        padding-bottom:3em;
}

.wrap{
    margin-left: 22%;
    padding-bottom:3em;

}

img[src="../images/parcelles/winefunding.jpg"]{
    width:40%;
    padding-left: 2em;
}



/*******                  FOOTER                       **********/

.footer {
/*    background-color: #e2d7d1;*/
    background-color: #434343;
    height: 100px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*change le sens des parametres align-items et justify-content*/
}

img[src="../images/fb.svg"] {
    z-index: 1;
    width: 22%;
    height: 100%;
}

.footer #facebook {
    margin-right: -3em;
    margin-top: -1.5em;
    align-self: flex-end;
}

.footer #remonter {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 100;
}

.footer #remonter:hover {
    text-decoration: underline;
}